/* StyleSheet.css */
BODY {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
}

.buttonClass {
	font-size: 10px;
	font-weight: bold;
}

.buttonMenuClass {
	font-size: 10px;
	font-weight: bold;
}

.boldPromptTextClass {
	font-size: 10px;
	font-weight: bold;
}

.errorStatusClass {
	font-size: 10px;
	color: red;
}

.errorStatusBoldClass {
	font-size: 10px;
	color: red;
	font-weight: bold;
}

.errorBigStatusBoldClass {
	font-size: 16px;
	color: red;
	font-weight: bold;
}

.onholdStatusClass {
	font-size: 10px;
	color: green;
}

.onholdStatusBoldClass {
	font-size: 10px;
	color: green;
	font-weight: bold;
}

.onholdStatusSmallBoldClass {
	font-size: 8px;
	color: green;
	font-weight: bold;
}

.normalStatusClass {
	font-size: 10px;
	color: blue;
}

.normalStatusBoldClass {
	font-size: 10px;
	color: blue;
	font-weight: bold;
}

.normalBigStatusBoldClass {
	font-size: 16px;
	color: blue;
	font-weight: bold;
}

.textClass {
	font-size: 10px;
}

.textEntryClass {
	font-size: 11px;
}

.menuClass {
	font-size: 11px;
}

.menuRowClass {
	background-color: cyan;
}

.switchcontent {
	background: #E3E6E8;
}

.sideMenuBG {
	padding: 3px 0px 3px 5px;
	background: #B6B8BA;
	display: block;
	border-top: 1px solid #72828B;
	border-right: 1px solid B6B8BA;
	border-bottom: none;
	border-left: none;
	cursor:hand; cursor:pointer;
}

.sideMenuBG3 {
	line-height: 9px;
	padding: 3px 0 3px 15px;
	background: #E3E6E8;
	display: block;
	border-right: 1px solid #B6B8BA;
}

.sideMenuBG3Clickable {
	font-size: 11px;
	line-height: 9px;
	padding: 3px 0 3px 15px;
	background: #E3E6E8;
	display: block;
	border-right: 1px solid #B6B8BA;
}

.sideMenuBG3a {
	line-height: 9px;
	padding: 0px 0 0px 15px;
	background: #E3E6E8;
	border-right: 1px solid #B6B8BA;
}

.sideMenuCB {
	padding: 0px 0 0px 0px;
}

.workingStatusClass {
	font-size: 10px;
	color: black;
	font-weight: bold;
}

.paperBgColorClass {
	background-color : #FFFACD;
}

.paperBgErrorColorClass {
	background-color : #FF8080;
}

.code {
	font-family: courier;
	font-size: 11px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

.codePrint {
	font-family: courier;
	font-size: 11px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
}

.codeSmall {
	font-family: courier;
	font-size: 10px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

.codeSmaller {
	font-family: courier;
	font-size: 8px;
	color: black;
	border: solid thin #0000cc;
	background-color: #ffffcc;
	overflow: auto;
	max-height: 200px;
}

